@tailwind base;
@tailwind components;
@tailwind utilities;

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #077FFF !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
}
.swal2-container {
    z-index: 20000 !important;
  }